* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}

.login-popup {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: grid;
  /* -webkit-backdrop-filter:blur(6px); */
  backdrop-filter: blur(6px);
}

.login-popup-container {
  place-self: center;
  width: max(24vw, 432px);
  color: #808080;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}

.hovermanual:hover {
  background-color: red;
  padding: 6px;
  border-radius: 50%;
}